/* CSS Document */
html, body, div, span, object, iframe,h1, h2,
h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn,
em, img, ins,kbd, q, samp,small, strong, sub, sup, var,b, i,dl, dt, dd,
ol, ul, li,fieldset, form, label, legend,table, caption, tbody,
tfoot,thead,tr, th, td,article, aside, canvas, details, figcaption,
figure, footer, header, hgroup, menu, nav, section, summary,time, mark,
audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    outline-style:none;/*FF*/
}

body {
    line-height:1;
}

a{
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;

}
a:hover,a:focus{
    text-decoration:none;
    outline-style:none;/*FF*/
    }
table {
    border-collapse:collapse;
    border-spacing:0;
}

input, select {
    vertical-align:middle;
}

/*css为clearfix，清除浮动*/
.clearfix::before,
.clearfix::after{
    content: "";
    height: 0;
    line-height: 0;
    display: block;
    visibility: hidden;
    clear: both;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
* {
    box-sizing: border-box;
}
/* 正文样式 */
html, body {
    width: 100%;
    height: 100%;
}
body {
    overflow: hidden;
}
.container {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #fff;
}
/* 左侧导航样式 */
.left-menu {
    max-width: 200px;
    min-width: 200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-right: 1px solid #E1E1E1;
}
.left-menu .item {
    flex: 1;
    justify-content: center;
    display: flex;
    align-items: center;
}
.left-menu .item a {
    text-decoration: none;
}
/* 右侧内容区域 */
.right {
    flex: 1 1 auto;
    width: 100%;
    min-width: 0px;
    padding: 20px;
    background: rgba(216,191,216,.3);
    -webkit-box-flex: 1;
    display: flex;
    flex-direction: column;
}
.right-title {
    padding: 15px;
    background-color: #fff;
}
.right-content {
    flex: 1;
    border-top: 1px solid #E1E1E1;
    background-color: #fff;
    position: relative;
}
.lines{
    width : 100%;
    height: 100%;
    position: absolute;
    opacity: 0.3;
}
.lines .column-line {
    height: 100%;
    padding-top: 0%;
    position: absolute;
}
.lines .column-line-inner {
    width: 1px;
    height: 100%;
    background-color: #FF9326;
    position: absolute;
    left: 50%;

}
.lines .row-line {
    width: 100%;
    padding-left: 0%;
    position: absolute;
}
.lines .row-line-inner {
    height: 1px;
    width: 100%;
    background-color: #FF9326;
    position: absolute;
    top: 50%;
    z-index: -1;

}
.mask {
    position: absolute;
    // width: 0;
    // height: 0;
    top: 0;
    left: 0;
    background-color: rgba(217,217,217,.5);
    z-index: 3;
    display: none;
}
.mask.active {
    display: block;
}

.content-menu {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 25%;
    position: absolute;
    border: 1px solid #cdcdcd;
    color: #cdcdcd;
    z-index: 998;
}
.dotted {
    border: 2px dotted red;
}
.content-menu .header {
    padding: 5px;
}
.content-menu .list-content {
    flex: 1;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
}
.showState1, .showState2 {
   position: absolute;
   height: 100%;
   width: 100%;
}
.showState1 {
    background: url(../image/empty.png) no-repeat center;
    display: none;
    border: 2px solid green;
    z-index: 2;
}
.showState1 h4 {
    text-align: center;
    color: #cdcdcd;
}
.showState2 {
    border: 2px dotted red;
    text-align: center;
    z-index: 999;
    display: none;
}
.showState2 .stateTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #d9d9d9;
    font-size: 24px;
}
.move {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
    background: url(../image/move_alt2.png) 0 0 no-repeat;
    background-size: cover;
    display: none;
}
.dragStart {
    border: 2px solid #ea9518;
}

.content-menu span {
    position: absolute;
    width: 30px;
    height: 30px;
    display: block;
    background-repeat: no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    display: none;
}
.content-menu .top-left {
    background-image: url(../image/top-left.png);
    left: 0;
    top: 0;
    cursor: nw-resize;
}
.content-menu .top-right {
    background-image: url(../image/top-right.png);
    top: 0;
    right: 0;
    cursor: ne-resize;
}
.content-menu .bottom-right {
    background-image: url(../image/bottom-right.png);
    bottom: 0;
    right: 0;
    cursor: se-resize;
}
.content-menu .bottom-left {
    background-image: url(../image/bottom-left.png);
    bottom: 0;
    left: 0;
    cursor: sw-resize;
}
.leftLine, .rightLine {
    position: absolute;
    width: 2px;
    height: 100%;
    background: transparent;
    display: none;
    padding: 10px;
}
.topLine, .bottomLine  {
    position: absolute;
    width: 100%;
    height: 2px;
    background: transparent;
    display: none;
    padding: 10px;
}
.leftLine, .topLine {
    left: 0;
    top: 0;
}
.leftLine {
    cursor: w-resize;
}
.topLine {
    cursor: n-resize;
}
.rightLine {
    right: 0;
    top: 0;
    cursor: e-resize;
}
.bottomLine {
    bottom: 0;left:0;
    cursor: s-resize;
}
.delete {
    position: absolute;
    right: -25px;
    width: 20px;
    height: 20px;
    background: url(../image/delete.png) no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
    cursor: pointer;
    display: none;
}
.parentNodes {
    position: absolute;
    background: rgba(0, 0, 0, .5);
}
.parentList {
    /*// position: absolute;*/
    background: pink;
}
