<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>拖拽</title>
    <link id="dragicon" rel="stylesheet" href="./css/iconfont.css">
    <link rel="stylesheet" href="./css/drag2.css">
    <script type="" src="js/jquery-2.2.3.js"></script>
    <!-- <script type="" src="http://portal.ebistrategy.com:8060/javascripts/api/tableau-2.min.js"></script> -->
</head>

<body onselectstart="return false">
    <div class="container" id="app">
        <div class="left">
            <div class="left-slider">
                <div class="left-banner">
                    <div @click="sliderClick" class="slider-item qlik" title="Qlik sense"></div>
                    <div @click="sliderClick" class="slider-item tableau" title="tableau"></div>
                    <div @click="sliderClick" class="slider-item custom" title="custom control"></div>
                </div>
                <div class="left-menu" v-if="leftMenuStatus">
                    <div class="menu-list">
                        <!-- QlikSense四级菜单start -->
                        <div class="menuList-item QlikSense-list" v-if="qlikLeftStatus">
                            <div class="tools-tree">
                                <div v-if="qlikFirstData == null">loading<span v-bind="loadingText" class="iconfont icons-loading"></span></div>
                                <div v-for="(qlik, qlikIndex) in qlikFirstData" class="tools-item">
                                    <div class="firstIcon tools-item-title">
                                        <i class="iconfont" :class="{'icons-down': qlik.showFlag, 'icons-right': !qlik.showFlag}" :data-id="qlik.ID" :data-ServerDomainName="qlik.ServerDomainName" @click.self="getSecondData(qlikIndex, $event)" ></i>
                                        <div :data-id="qlik.ID" :data-ServerDomainName="qlik.ServerDomainName" @click.self="getSecondData(qlikIndex, $event)"  class="tools-itemText">{{qlik.ProductName}}</div>
                                    </div>
                                    <div class="tools-item-content order3" v-bind:class="{hide: !qlik.showFlag}"  >
                                        <div v-if="qlikSecondData == null">loading<span v-bind="loadingText" class="iconfont icons-loading"></span></div>
                                        <div class="tools-content" v-for="(qlikApp, qlikAppIndex) in qlikSecondData">
                                            <div class="secondIcon tools-content-title">
                                                <i class="iconfont" :class="{'icons-down': qlikApp.showFlag, 'icons-right': !qlikApp.showFlag}" :data-id="qlikApp.id" @click.self="getThirdData(qlikAppIndex, $event)" :data-app-id="qlikApp.appId" :data-product-id="qlik.ID"></i>
                                                <div class="tools-itemText" :data-id="qlikApp.id" :data-product-id="qlik.ID" @click.self="getThirdData(qlikAppIndex, $event)"><span class="iconfont icons-worksheet"></span>{{qlikApp.name}}</div>
                                            </div>
                                            <div class="tools-contents" v-bind:class="{hide: !qlikApp.showFlag}" >
                                             <div v-if="qlikThirdData[qlikAppIndex] == undefined">loading<span v-bind="loadingText" class="iconfont icons-loading"></span></div>
                                                <div class="tools-content-list" v-for="(qlikSheet, qlikSheetIndex) in qlikThirdData[qlikAppIndex]">
                                                    <div class="thirdIcon tools-content-list-title">
                                                        <i class="iconfont icons-right" :data-id="!qlikSheet.SheetId" :data-app-id="qlikApp.id" :data-product-id="qlik.ID"  @click.self="getFouthData(qlikSheetIndex, $event)"></i>
                                                        <div class="tools-itemText" :data-id="qlikSheet.SheetId" :data-app-id="qlikApp.id" :data-product-id="qlik.ID"  @click.self="getFouthData(qlikSheetIndex, $event)"><span class="iconfont icons-worksheet"></span>{{qlikSheet.Title}}</div>
                                                    </div>
                                                    <div class="tools-content-list-content " v-bind:class="{hide: !qlikSheet.showFlag}">
                                                        <div class="last-content-item dropElement" data-source-text="QlikSense数据项1" draggable="true">
                                                            <a href="javascript:;" class="left-control-item" draggable="false"><span class="iconfont icons-datasheet"></span></a>
                                                            <div class="tools-itemText text">QlikSense数据项1</div>
                                                        </div>                                                       
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- QlikSense四级菜单end -->
                        <!-- tableau四級菜單start -->
                        <div class="menuList-item tableau-list" v-if="tableauLeftStatus">
                            <div class="tools-tree">
                                 <div id="tableau1" class="tools-item">
                                    <div class="tools-item-title">
                                        <i class="iconfont icons-right"></i>
                                        <div class="tools-itemText">tableau</div>
                                    </div>
                                    <div class="tools-item-content order3 hide">
                                        <div class="tools-content">
                                            <div class="tools-content-title">
                                                <i class="iconfont icons-right"></i>
                                                <div class="tools-itemText"><span class="iconfont icons-worksheet"></span>tableau工作簿1</div>
                                            </div>
                                            <div class="tools-contents hide">
                                                <div class="tools-content-list dropElement" data-source-text="tableau数据项1" draggable="true">
                                                    <a href="javascript:;" class="left-control-item" draggable="false"><span class="iconfont icons-datasheet"></span></a>
                                                    <div class="tools-itemText text">tableau数据项1</div>
                                                </div>
                                                <div class="tools-content-list dropElement" data-source-text="tableau数据项2" draggable="true">
                                                    <a href="javascript:;" class="left-control-item" draggable="false"><span class="iconfont icons-datasheet"></span></a>
                                                    <div class="tools-itemText text">tableau数据项2</div>
                                                </div>
                                                <div class="tools-content-list dropElement" data-source-text="tableau数据项3" draggable="true">
                                                    <a href="javascript:;" class="left-control-item" draggable="false"><span class="iconfont icons-datasheet"></span></a>
                                                    <div class="tools-itemText text">tableau数据项3</div>
                                                </div>
                                                <div class="tools-content-list dropElement" data-source-text="tableau数据项4" draggable="true">
                                                    <a href="javascript:;" class="left-control-item" draggable="false"><span class="iconfont icons-datasheet"></span></a>
                                                    <div class="tools-itemText text">tableau数据项4</div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="tools-content">
                                            <div class="tools-content-title">
                                                <i class="iconfont icons-right"></i>
                                                <div class="tools-itemText"><span class="iconfont icons-worksheet"></span>tableau工作簿2</div>
                                            </div>
                                            <div class="tools-contents hide">
                                                <div class="tools-content-list dropElement" data-source-text="tableau数据项1" draggable="true">
                                                    <a href="javascript:;" class="left-control-item noDrop" draggable="false"><span class="iconfont icons-datasheet"></span></a>
                                                    <div class="tools-itemText">tableau数据项1</div>
                                                </div>
                                                <div class="tools-content-list dropElement" data-source-text="tableau数据项2" draggable="true">
                                                    <a href="javascript:;" class="left-control-item noDrop" draggable="false"><span class="iconfont icons-datasheet"></span></a>
                                                    <div class="tools-itemText">tableau数据项2</div>
                                                </div>
                                                <div class="tools-content-list dropElement" data-source-text="tableau数据项3" draggable="true">
                                                    <a href="javascript:;" class="left-control-item noDrop" draggable="false"><span class="iconfont icons-datasheet"></span></a>
                                                    <div class="tools-itemText">tableau数据项3</div>
                                                </div>
                                                <div class="tools-content-list dropElement" data-source-text="tableau数据项4" draggable="true">
                                                    <a href="javascript:;" class="left-control-item noDrop" draggable="false"><span class="iconfont icons-datasheet"></span></a>
                                                    <div class="tools-itemText">tableau数据项4</div>
                                                </div>
                                                <div class="tools-content-list dropElement" data-source-text="tableau数据项5" draggable="true">
                                                    <a href="javascript:;" class="left-control-item noDrop" draggable="false"><span class="iconfont icons-datasheet"></span></a>
                                                    <div class="tools-itemText">tableau数据项5</div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- tableau三級菜單end -->
                        <!-- 自定義圖形start -->
                        <div class="menuList-item custom-list" v-if="customLeftStatus">
                            <div class="item dropElement" draggable="true" data-source-text="饼状图">
                                <span></span>
                                <a href="#" draggable="false">饼状图</a>
                            </div>
                            <div class="item dropElement" draggable="true" data-source-text="柱状图">
                                <span></span>
                                <a href="#" draggable="false">柱状图</a>
                            </div>
                            <div class="item dropElement" draggable="true" data-source-text="折线图">
                                <span></span>
                                <a href="#" draggable="false">折线图</a>
                            </div>
                            <div class="item dropElement" draggable="true" data-source-text="网格">
                                <span></span>
                                <a href="#" draggable="false">网格</a>
                            </div>
                            <div class="item dropElement" draggable="true" data-source-text="树形图">
                                <span></span>
                                <a href="#" draggable="false">树形图</a>
                            </div>
                            <div class="item dropElement" draggable="true" data-source-text="文本和图片">
                                <span></span>
                                <a href="#" draggable="false">文本和图片</a>
                            </div>
                        </div>
                    </div>
                    <div class="left-console">
                        <i class="iconfont icons-loading"></i>
                        <iframe src="" class="iframe" style="display: none;" frameborder="0" width="100%" height="100%"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="right">
            <div class="right-title">
                <h1>我的工作表</h1>
            </div>
            <div class="right-content" style="width: calc(100%);height: calc(100%);left: calc(0%);top:calc(0%)">
                <div class="move"></div>
                <div class="lines">
                    <div v-for="i in column" :style='{left: "calc("+ i * 100/column + "%)"}' class="column-line">
                        <div class="column-line-inner"></div>
                    </div>
                    <div v-for="i in row" :style='{top: "calc("+ i * 100/row + "%)"}' class="row-line">
                        <div class="row-line-inner"></div>
                    </div>
                </div>
                <!-- <div class="mask"></div> -->
                <!-- 当目标区域为空的时候显示默认的模块儿 -->
                <div class="showState1">
                    <h4>列表组为空</h4>
                </div>
                <!-- 拖动到目标区域上时showState2显示在目标区域上 -->
                <div class="showState2" style="width: calc(100%);height: calc(100%);left: calc(0%);top:calc(0%)">
                    <h4 class="stateTitle">放置内容在此</h4>
                </div>
                <!--  <div class="content-menu content-menu1" style="left:0;top:0;width:50%;height:50%;">
                    <div class="header">
                        单击添加标题
                    </div>
                    <div class="list-content">
                        内容区域
                    </div>
                </div>
                <div class="content-menu content-menu2" style="left:75%;top: 40%;width:25%;height:25%;">
                    <div class="header">
                        单击添加标题
                    </div>
                    <div class="list-content">
                        内容区域
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <script src="./node_modules/vue/dist/vue.js"></script>
    <script src="./node_modules/vue-resource/dist/vue-resource.js"></script>
    <script src="js/jquery-3.2.0.min.js"></script>
    <script id="dragScript" type="text/javascript" src="js/drag-vue.js"></script>
    <script>

    </script>
</body>


</html>